html {
    width: 100%;
    height: 100%;
  }
  body {
    background: linear-gradient(to left,lightblue,lightgreen);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Arial";
  }