# Vendors
node_modules

# Build output
**/dist/**
**/build/**
**/public/**

# Test results
**/.coverage/**
**/coverage/**
**/test-results/**

# storybook
**/storybook-static

# type definitions
*.d.ts
